body {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3em;
}

a.button {
    z-index: 30;
}

.media-content a {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-item img {
    max-height: 3rem;
}

.navbar-burger {
    height: initial;
}

.navbar-burger span {
    height: 3px;
}

.hero {
    min-height: calc(100vh - 76px);
    background-image: linear-gradient(to top, hsla(340, 95%, 50%,0.3) 0%,
    hsla(317, 45%, 52%,0.1) 100%), url(img/headerBcg.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

#dropdown-menu2 {
    max-width: 18rem;
    left: -65%;
}

.espaciadoPrecios {
    padding-top: 10px;
    border-left: 5px solid #fff;
}

table thead tr {
    border-bottom: 20px solid #fff;
}

table tbody tr {
    border-bottom: 20px solid #fff;
}

.title.is-4,
.media-content a {
    color: #000;
}

.media-content a:hover,
.control a:hover {
    color: hsla(340, 95%, 50%,0.3);
}

.trash {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2em;
    margin-left: 15px;
    color: #000;
}

.footer {
    padding-bottom: 3rem;
}